/* Geral */
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

h1 {
    color: #0056b3;
    text-align: center;
}

/* Layout principal */
.container {
    display: flex;
    justify-content: space-between; /* Espaço entre os elementos */
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

/* Seção de formulário */
.container > div {
    flex: 1; /* Define que cada seção ocupa espaço proporcional */
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input, select, button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.categoryFilter{
    display: flex;
    flex-direction: column;
    width: 10%;
}

/* Tabela de estoque */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
    
}

th, td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
    overflow: hidden;
}

th {
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #eaf4ff;
}

#operationHistory {
    margin-top: 40px; /* Espaçamento maior para separar das outras seções *
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Pilha vertical em telas menores */
    }
}
    #operationHistory {
        margin-top: 20px; 
    }
}
